{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Complete Profile | QuickJobs</title>

<link href="{% static 'css/email.css' %}" rel="stylesheet">
</head>

<body>

<div class="login-card">

<h1>Quick<span>Jobs.</span></h1>
<p class="tagline">Complete your profile</p>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="POST">
{% csrf_token %}

<label>Your Name</label>

<input
    type="text"
    name="name"
    placeholder="Enter your name"
    value="{{ profile.full_name|default:request.user.first_name }}"
    autocomplete="name"
    required
>

<label>Your Place</label>

<input
    type="text"
    name="district"
    placeholder="Enter your place"
    value="{{ profile.district }}"
>

<button type="submit">
    Save and Continue →
</button>

</form>

</div>

</body>
</html>