{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Verify OTP</title>
<link href="{% static 'css/otp.css' %}" rel="stylesheet">
</head>
<body>

<div class="otp">
<h2>Account Verification</h2>
<p>Enter 6 digit verification code</p>

<form method="post">
{% csrf_token %}

<div class="otp-inputs">
<input type="text" name="otp1" maxlength="1" required>
<input type="text" name="otp2" maxlength="1" required>
<input type="text" name="otp3" maxlength="1" required>
<input type="text" name="otp4" maxlength="1" required>
<input type="text" name="otp5" maxlength="1" required>
<input type="text" name="otp6" maxlength="1" required>
</div>

<button type="submit">Verify code</button>
</form>
</div>

<script>
const inputs = document.querySelectorAll(".otp-inputs input");

inputs.forEach((input, index) => {
    input.addEventListener("input", () => {
        if(input.value.length === 1 && index < inputs.length - 1){
            inputs[index + 1].focus();
        }
    });
});
</script>

</body>
</html>